.App {
  text-align: center;
}

#map { 
  height: 180px;
  width: 50%;
  display: inline-block; 
}

.botonera{
  display:flex;
  margin-top: 4%;
  margin-bottom: 6%;
}

h1 {
  background-color: rgb(56, 54, 54);
  color:white;
  font-family: sans-serif;
}

.filtre{
  margin-left: 1%;
}

.leaflet-container{
  height: 300px;
}

.boto{
  background-color:brown !important;
  border-color: brown !important;
}

.boto:hover{
  background-color:rgb(88, 20, 20) !important;
  border-color: rgb(88, 20, 20) !important;
}